<ion-header>
  <ion-toolbar class="new-background-color">
      <ion-title class="ion-title_class">강사 출결 시스템</ion-title>

      <a (click)="setBackButtonAction()" class="fxtPrev">이전</a>
      <a (click)="logoutUser()" class="fxtOut">로그아웃</a>  
     
  </ion-toolbar>
</ion-header>

<ion-content>
<div id="wrap" class="listWrap">

    <div class="detailTop">
      <h3>{{SetRoomInfo.OpenDate}} </h3>
      <h4>{{SetRoomInfo.RoomName}} 강의실</h4>
      <h5>{{SetRoomInfo.ShortName}}({{SetRoomInfo.BeginTime}}~{{SetRoomInfo.EndTime}})</h5>
    </div>


    <div class="detailWrap">
      <p class="dtInfo"><span>3회 연속 결석생</span></p>
      <table class="dtTable">
          <colgroup>
            <col width="30px">
            <col width="90px">
            <col width="*">
            <col width="*">
            <col width="*">
            <col width="*">
          </colgroup>
          <thead>
            <tr>
              <th>No</th>
              <th>학생명(상태)<br/>생년/Phone</th>
              <th>출석</th>
              <th>결석</th>
              <th>지각</th>
              <th>조퇴</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of SetStudnet">
                <td>
                  {{item.rnum}}
                  <input type='hidden' name='StudentSeq' value='{{item.StudentSeq}}'>
                  <input type='hidden' id='AttSeq{{item.StudentSeq}}'  name='AttSeq{{item.StudentSeq}}' value='{{item.AttSeq}}'>  
                </td>
                <td [ngClass]="(item.memo == '') ? '' : 'stmemo'" (click)="showOnceToast(item.memo)">
                    <div [ngClass]="(item.attend_chk == '-,-,-') ? 'stName absent' : 'stName'">
                        <p>{{item.StudentName}}({{item.State}})<br/>{{item.JuminNo}}년 / {{item.Phone}}</p>
                    </div>
                </td>
                <td>
                  <input type="radio" name="chk{{item.StudentSeq}}" class="dtChk" id="chk{{item.StudentSeq}}_01" value='1' [checked]="isChecked(item.AttendState,'O')">
                  <label for="chk{{item.StudentSeq}}_01">체크!</label>
                </td>
                <td>
                  <input type="radio" name="chk{{item.StudentSeq}}" class="dtChk" id="chk{{item.StudentSeq}}_02" value='2' [checked]="isChecked(item.AttendState,'X')">
                  <label for="chk{{item.StudentSeq}}_02">체크!</label>  

                </td>
                <td>
                  <input type="radio" name="chk{{item.StudentSeq}}" class="dtChk" id="chk{{item.StudentSeq}}_03" value='3' [checked]="isChecked(item.AttendState,'/')">
                  <label for="chk{{item.StudentSeq}}_03">체크!</label>
                </td>
                <td>
                  <input type="radio" name="chk{{item.StudentSeq}}" class="dtChk" id="chk{{item.StudentSeq}}_04" value='4' [checked]="isChecked(item.AttendState,'#')">
                  <label for="chk{{item.StudentSeq}}_04">체크!</label>
                </td>
              </tr>
              <tr *ngIf='SetStudnet === 0'>
                <td colspan="6">배정된 학생이 없습니다.</td>
              </tr>
          </tbody>
      </table>

      <div *ngIf='SetStudnet !== 0'>
        <p class="dtDesc" *ngIf="curDate !== LecDate">출석체크는 현재일만 가능합니다. 현 화면이 금일보다 미래일 경우 출결정보를 저장하실 수 없습니다.</p>
        <a class="dtSave" *ngIf="curDate === LecDate" style='margin-top:30px;' (click)="ChkAttend()">출결정보 저장</a>
      </div>
      
    </div>   

</div>
</ion-content>
