<ion-content>
  <div id="login">
    <h1 class="lgnLogo">올댓뷰티</h1>
      <div class="lgnTitle">
        <h3>강사 <span>출석체크</span><br/><span>강의정보</span> 시스템</h3>
      </div>
      <form (ngSubmit)="loginUser()" class="lgnForm">
        <ul class="lgnForm">
          <li>
            <!--ion-label stacked>아이디</ion-label-->
            <input [(ngModel)]="loginData.UserId" name="UserId" type="text" placeholder="아이디를 입력해주세요" >
          </li>
          <li>
              <!--ion-label stacked>비밀번호</ion-label-->
              <input [(ngModel)]="loginData.UserPwd" name="UserPwd" type="password" placeholder="비밀번호 입력해주세요">
          </li>
        </ul>    
        <div class="lngBtn">
          <button type="submit" class="lngLoginBtn">로그인</button>
        </div>  
        <dl class="lgnInfo">
          <dd>※ 인트라넷 접속 시 사용하시는ID/PW를 입력해 주세요.</dd>
          <dd>※ ID/PW를 분실하신 경우 인사총무에 문의 해주세요.</dd>
        </dl> 
      </form>
  </div>
</ion-content>