/* --------------------
List 
-------------------- */
#wrap {width:100%; max-width:750px; overflow:hidden; margin:0 auto; position:relative;}




#wrap {
	min-height:100%;
	background: #02aab0; /* Old browsers */
	background: -moz-linear-gradient(left,  #02aab0 0%, #00cdac 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #02aab0 0%,#00cdac 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #02aab0 0%,#00cdac 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02aab0', endColorstr='#00cdac',GradientType=1 ); /* IE6-9 */
}

.listWrap {padding-top:54px; padding-bottom:60px;}

.listTop h3 {text-align:center; padding-top:30px; color:#fff; font-size:20pt; font-weight:100;}
.listTop h3 span {font-weight:400;}
.lsttSch {text-align:center; padding-top:20px;}
.lsttSch:after {content:""; display:table; clear:both;}
.lsttSch ion-select {
	display:inline-block; vertical-align:middle; border:none; text-align:left; padding:0 5px; width:180px; border-bottom:1px solid #fff; font-size:12pt; font-weight:100;
	background:url('http://lec.koreagroupware.com/img/search_arrow.png')no-repeat 97% center; background-size:8px auto; color:#fff; font-weight:300; height:30px; letter-spacing:0.05em;
	appearance:none; -moz-appearance:none; -webkit-appearance:none;
	border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px;
}
.lsttSch select option {color:#000;}
.lsttSch a {display:inline-block; vertical-align:middle; margin-left:10px; width:30px; height:30px; text-indent:-9999px; background:url('http://lec.koreagroupware.com/img/search_ico.png')no-repeat center center; background-size:20px;}


.listSlider {}
.listSlider .slick-dots {text-align:center; margin-top:-15px;}
.listSlider .slick-dots li {display:inline-block; width:8px; height:8px; margin:0 3px; background:rgba(255,255,255,.5); border-radius: 6px 6px 6px 6px; -moz-border-radius: 6px 6px 6px 6px; -webkit-border-radius: 6px 6px 6px 6px;}
.listSlider .slick-dots li button {display:none;}
.listSlider .slick-dots li.slick-active {background:rgba(255,255,255,1.0);}

.listCont {padding:10px 15px;}
.listCont > div {
	background:#fff; padding:30px 20px;
	border-radius: 6px 6px 6px 6px; -moz-border-radius: 6px 6px 6px 6px; -webkit-border-radius: 6px 6px 6px 6px;
	-webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.15); -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.15); box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.15);
}
.listCont h4 {font-size:14pt;}
.listCont h5 {font-size:14pt; margin-bottom:5px;}
.listCont dl {font-size:10pt; color:#999; font-weight:300;}
.listCont dl dt,
.listCont dl dd {display:inline-block; vertical-align:middle; line-height:1.3em;} 
.listCont dl dd {font-weight:400; color:#666;}
.listCont ul {margin-top:10px;}
.listCont ul:after {content:""; display:table; clear:both;}
.listCont ul li {float:left; font-size:10pt; color:#999; padding-right:10px; margin-right:10px; position:relative;}
.listCont ul li:after {content:""; display:block; width:1px; height:10px; background:#aaa; position:absolute; right:0; top:50%; margin-top:-5px;}
.listCont ul li:last-child {padding-right:0; margin-right:0;}
.listCont ul li:last-child:after {display:none;}

.listDesc {text-align:center; margin-top:30px;}
.listDesc dt,
.listDesc dd {display:inline-block; vertical-align:middle; font-size:10pt; font-weight:300; color:#fff;}
.listDesc dt {font-weight:500; margin-right:3px;}
.listDesc dd {padding-right:10px; margin-right:10px; position:relative;}
.listDesc dd:after {content:""; display:block; width:1px; height:10px; background:#fff; position:absolute; right:0; top:50%; margin-top:-5px;}
.listDesc dd:last-child {padding-right:0; margin-right:0;}
.listDesc dd:last-child:after {display:none;}

.listBtn {text-align:right; margin-top:30px;}
.listBtn a {display:inline-block; color:#02aab0; font-size:11pt; font-weight:400; letter-spacing:-0.075em; white-space:nowrap; padding-right:20px; background:url('http://lec.koreagroupware.com/img/list_arrow.png')no-repeat right center; background-size:6px auto !important;}